:root {
    --calendar-event-dialog-width: 250px;
}
.calendar-event-overflow {
    position: absolute;
    padding-top:2px;
    height: 25px;
    border-radius: 3px;
    text-align: center;
}
.calendar-event-overflow-events {
    cursor: pointer;
    width: calc(100vw / 7);
    min-width: 50px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    color: #70757a;
}
.calendar-event-overflow:hover {
    background-color: #f6f6f6;
}

.calendar-event-overflow-dialog {
    display: flex;
    flex-direction:column;
    border-radius: 10px;
    box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: absolute;
    width: var(--calendar-event-dialog-width);
    height: 300px;
    left: calc((100vw / 7 / 2) - calc(var(--calendar-event-dialog-width) / 2));
    top: -100px;
    cursor:default;
    z-index: 2;
}

.calendar-event-overflow-dialog-title {
    font-size: 20px;
    font-weight: normal;
}
.calendar-event-overflow-event-list {
    position: relative;
    top: 5px;
    height: 170px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
.calendar-event-overflow-close-btn {
    position: relative;
    top:15px;
}