.register {
    /*height: 100vh;*/
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
    border-radius: 10px;
  }