.view-event-guests {
    position: relative;
    top: 40px;
    width: 350px;
}
.view-event-add-guest {
    width: 215px;
}
.view-event-add-guest-full {
    width: 350px;
}
.view-event-add-myself-btn {
float: right;
}
.view_event-add-guest-results {
    border: 1px solid #dcdcdc;
    position: absolute;
    width: 350px;
    margin-top:-7px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    background-color: #FFF;
    z-index: 1;
}
.view_event-add-guest-result {
    padding:5px 20px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.view_event-add-guest-result:hover {
    background-color: #f6f6f6;
}

.view-event-guest-list {
    overflow-y: auto;
    overflow-x: hidden;
    height:200px;
    padding-top: 10px;
}
.view-event-guest {
    padding: 10px;
    width: 340px;
    display: block;
    background-color: #FFF;
}
.view-event-guest:hover {
    background-color: #F2F2F2;
}
.view-event-guest-name {
    float:left;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}
.view-event-guest-icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    font-weight:450;
    padding-left: 6px;
  }
.view-event-guest-maybe {
    float: right;
    right:0px;
    margin-top:-2px;
    padding-right: 15px;
}
.view-event-guest-remove {
    float: right;
    height: 18px;
    width: 18px;
}
.view-event-guest-owner {
    text-align: right;
    white-space: nowrap;
    font-size: 14px;
    color: gray;
}