.view-event-add-guest {
    width: 350px;
}
.view-event-guest-list {
    overflow-y: auto;
    overflow-x: hidden;
    height:200px;
    padding-top: 10px;
}
.view-event-guest {
    padding: 10px;
    display: flex;
    background-color: #FFF;
}
.view-event-guest:hover {
    background-color: #F2F2F2;
}
.view-event-guest-maybe {
    position: absolute;
    right:80px;
    margin-top:-2px;
}
.view-event-guest-remove {
    position: absolute;
    right:40px;
    height: 18px;
    width: 18px;
}
.view-event-guest-owner {
    position: absolute;
    right: 30px;
    font-size: 14px;
    color: gray;
}
.view-event-guest-icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    font-weight:450;
    padding-left: 6px;
  }